{% extends "base.html" %} {% block content %}

<section id="contact" class="contact mt-5">
  <div class="container">
    <div class="section-title">
      <span>
        {{title}}
      </span>
      <h2>
        {{title}}
      </h2>

      {% if error %}
      <div class="alert alert-danger" role="alert">
        {{error}}
      </div>
      {% endif %}

    </div>

    <div class="row">
      <center>
        <div class="col-lg-6 d-flex align-items-stretch">

          <div class="col-lg-12 mt-5 mt-lg-0 d-flex align-items-stretch">

            <form
              action="{% url 'login' %}"
              method="post"
              role="form"
              class="php-email-form">
              {% csrf_token %}
              <!-- Champ pour le nom d'utilisateur -->
              <div class="form-group mb-4">
                <label class="text-muted" for="username">Nom d'utilisateur</label>
                <input type="text"
                  name="username"
                  class="form-control"
                  id="username"
                  required class="text-muted" />
              </div>

              <!-- Champ pour le mot de passe -->
              <div class="form-outline mb-4">
                <label class="text-muted" for="password">Mot de passe</label>

                <input type="password"
                  name="password"
                  class="form-control"
                  id="password"
                  required class="text-muted" />
              </div>

              <!-- Mise en page en colonnes pour le style en ligne -->
              <div class="row mb-4">
                <div class="col">
                  <!-- Lien simple -->
                  <a href="#!">Mot de passe oublié ?</a>
                </div>
              </div>

              <!-- Bouton de soumission -->
              <div class="text-center">
                <button type="submit">Connexion</button>
              </div>

              <!-- Boutons d'enregistrement -->
              <div class="text-center mt-4">
                <p>Pas encore membre ? <a href="{%url 'signup' %}">S'inscrire</a></p>
              </div>

            </form>
          </div>
        </div>
      </center>
    </div>
  </div>
</section>

{% endblock %}
